examples/lighter-trading-workflow.json
{
  "name": "Lighter Trading Signal Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trading-signal",
        "options": {}
      },
      "id": "e8b4895f-4c79-4c78-8b2f-640acaef4f3a",
      "name": "Trading View",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1424, 400],
      "webhookId": "trading-signal"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// PARSER DE SINAIS - Lighter Trading\n// Versão: 2.0 - Adaptado para Lighter DEX\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nconst text = input.body?.text || input.text || JSON.stringify(input);\n\n// ═══════════════════════════════════════════════════════════════════════════\n// LIGHTER MARKET INDEX MAP - Mapeia símbolos para market_index\n// ═══════════════════════════════════════════════════════════════════════════\nconst lighterMarkets = {\n  'ETH': { market_index: 0, symbol: 'ETH-USD', decimals: { size: 4, price: 2 } },\n  'BTC': { market_index: 1, symbol: 'BTC-USD', decimals: { size: 5, price: 1 } },\n  'SOL': { market_index: 2, symbol: 'SOL-USD', decimals: { size: 2, price: 3 } },\n  // Adicione mais mercados conforme disponíveis na Lighter\n};\n\n// ═══════════════════════════════════════════════════════════════════════════\n// SYMBOL MAP - Converte símbolos de exchanges para Lighter\n// ═══════════════════════════════════════════════════════════════════════════\nconst symbolMap = {\n  'BTCUSDT': 'BTC', 'BTCUSD': 'BTC', 'BTCUSD.P': 'BTC',\n  'ETHUSDT': 'ETH', 'ETHUSD': 'ETH', 'ETHUSD.P': 'ETH',\n  'SOLUSDT': 'SOL', 'SOLUSD': 'SOL', 'SOLUSD.P': 'SOL',\n  'BNBUSDT': 'BNB', 'BNBUSD': 'BNB',\n  'XRPUSDT': 'XRP', 'XRPUSD': 'XRP',\n  'DOGEUSDT': 'DOGE', 'DOGEUSD': 'DOGE',\n  'ADAUSDT': 'ADA', 'ADAUSD': 'ADA',\n  'AVAXUSDT': 'AVAX', 'AVAXUSD': 'AVAX',\n  'LINKUSDT': 'LINK', 'LINKUSD': 'LINK',\n  'MATICUSDT': 'MATIC', 'MATICUSD': 'MATIC',\n  'DOTUSDT': 'DOT', 'DOTUSD': 'DOT',\n  'LTCUSDT': 'LTC', 'LTCUSD': 'LTC',\n  'ARBUSDT': 'ARB', 'ARBUSD': 'ARB',\n  'OPUSDT': 'OP', 'OPUSD': 'OP',\n};\n\nconst resolveSymbol = (rawSymbol) => {\n  if (!rawSymbol) return '';\n  const cleanSymbol = rawSymbol.replace(/\\.P$/, '').toUpperCase();\n  if (symbolMap[cleanSymbol]) return symbolMap[cleanSymbol];\n  const baseMatch = cleanSymbol.match(/^(\\w+?)(USD|USDT|PERP)?$/);\n  return baseMatch ? baseMatch[1] : cleanSymbol;\n};\n\nconst getMarketInfo = (asset) => {\n  return lighterMarkets[asset] || null;\n};\n\n// ═══════════════════════════════════════════════════════════════════════════\n// IDENTIFICAR TIPO DE ALERTA\n// ═══════════════════════════════════════════════════════════════════════════\nlet alertType = 'UNKNOWN';\n\nif (text.includes('ENTRY') && text.includes('LONG')) {\n  alertType = 'ENTRY_LONG';\n} else if (text.includes('ENTRY') && text.includes('SHORT')) {\n  alertType = 'ENTRY_SHORT';\n} else if (text.includes('TP1') && text.includes('HIT')) {\n  alertType = 'TP1_HIT';\n} else if (text.includes('TP2') && text.includes('HIT')) {\n  alertType = 'TP2_HIT';\n} else if (text.includes('TP3') || text.includes('FULL WIN')) {\n  alertType = 'FULL_WIN';\n} else if (text.includes('STOP') && text.includes('LOSS')) {\n  alertType = 'STOP_LOSS';\n} else if (text.includes('PARTIAL')) {\n  alertType = 'PARTIAL';\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// PARSERS\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst parseEntryAlert = (msg) => {\n  const direction = msg.includes('LONG') ? 'LONG' : 'SHORT';\n  const gradeMatch = msg.match(/\\[([ABC])\\]/);\n  const symbolMatch = msg.match(/(?:BINANCE|BYBIT|COINBASE|OKX|KRAKEN):([A-Z0-9]+(?:\\.P)?)/i);\n  const signalIdMatch = msg.match(/ID:\\s*([A-Z0-9]+-[A-Z0-9]+)/i);\n  const timeframeMatch = msg.match(/Timeframe:\\s*(\\d+[mHDWM])/i);\n  const winRateMatch = msg.match(/Win Rate:\\s*([\\d.]+)%/);\n  const backtestDaysMatch = msg.match(/Backtest:\\s*(\\d+)\\s*days/i);\n  const entryMatch = msg.match(/Entry:\\s*([\\d.]+)/);\n  const slMatch = msg.match(/SL:\\s*([\\d.]+)/);\n  const tp1Match = msg.match(/TP1:\\s*([\\d.]+)/);\n  const tp2Match = msg.match(/TP2:\\s*([\\d.]+)/);\n  const tp3Match = msg.match(/TP3:\\s*([\\d.]+)/);\n  const scoreMatch = msg.match(/Score:\\s*([\\d.]+)\\/(\\d+)/);\n  const rsiMatch = msg.match(/RSI:\\s*([\\d.]+)/);\n  const adxMatch = msg.match(/ADX:\\s*([\\d.]+)/);\n  const modeMatch = msg.match(/Mode:\\s*(\\w+)/);\n\n  return {\n    direction,\n    grade: gradeMatch ? gradeMatch[1] : 'C',\n    rawSymbol: symbolMatch ? symbolMatch[1] : '',\n    signalId: signalIdMatch ? signalIdMatch[1] : null,\n    timeframe: timeframeMatch ? timeframeMatch[1] : null,\n    winRate: winRateMatch ? parseFloat(winRateMatch[1]) : null,\n    backtestDays: backtestDaysMatch ? parseInt(backtestDaysMatch[1]) : null,\n    entry: entryMatch ? parseFloat(entryMatch[1]) : 0,\n    stopLoss: slMatch ? parseFloat(slMatch[1]) : 0,\n    tp1: tp1Match ? parseFloat(tp1Match[1]) : 0,\n    tp2: tp2Match ? parseFloat(tp2Match[1]) : 0,\n    tp3: tp3Match ? parseFloat(tp3Match[1]) : 0,\n    score: scoreMatch ? parseFloat(scoreMatch[1]) : 0,\n    scoreMax: scoreMatch ? parseInt(scoreMatch[2]) : 15,\n    rsi: rsiMatch ? parseFloat(rsiMatch[1]) : null,\n    adx: adxMatch ? parseFloat(adxMatch[1]) : null,\n    mode: modeMatch ? modeMatch[1] : 'Conservative'\n  };\n};\n\nconst parseTPHitAlert = (msg, tpLevel) => {\n  const direction = msg.includes('LONG') ? 'LONG' : 'SHORT';\n  const gradeMatch = msg.match(/\\[([ABC])\\]/);\n  const symbolMatch = msg.match(/(?:BINANCE|BYBIT|COINBASE|OKX|KRAKEN):([A-Z0-9]+(?:\\.P)?)/i);\n  const signalIdMatch = msg.match(/ID:\\s*([A-Z0-9]+-[A-Z0-9]+)/i);\n  const timeframeMatch = msg.match(/Timeframe:\\s*(\\d+[mHDWM])/i);\n  const entryMatch = msg.match(/Entry:\\s*([\\d.]+)/);\n  const tpMatch = msg.match(/TP\\d:\\s*([\\d.]+)/);\n\n  return {\n    direction,\n    grade: gradeMatch ? gradeMatch[1] : 'C',\n    rawSymbol: symbolMatch ? symbolMatch[1] : '',\n    signalId: signalIdMatch ? signalIdMatch[1] : null,\n    timeframe: timeframeMatch ? timeframeMatch[1] : null,\n    entry: entryMatch ? parseFloat(entryMatch[1]) : 0,\n    tpHit: tpMatch ? parseFloat(tpMatch[1]) : 0,\n    tpLevel: tpLevel\n  };\n};\n\nconst parseExitAlert = (msg) => {\n  const direction = msg.includes('LONG') ? 'LONG' : 'SHORT';\n  const gradeMatch = msg.match(/\\[([ABC])\\]/);\n  const symbolMatch = msg.match(/(?:BINANCE|BYBIT|COINBASE|OKX|KRAKEN):([A-Z0-9]+(?:\\.P)?)/i);\n  const signalIdMatch = msg.match(/ID:\\s*([A-Z0-9]+-[A-Z0-9]+)/i);\n  const timeframeMatch = msg.match(/Timeframe:\\s*(\\d+[mHDWM])/i);\n  const entryMatch = msg.match(/Entry:\\s*([\\d.]+)/);\n\n  return {\n    direction,\n    grade: gradeMatch ? gradeMatch[1] : 'C',\n    rawSymbol: symbolMatch ? symbolMatch[1] : '',\n    signalId: signalIdMatch ? signalIdMatch[1] : null,\n    timeframe: timeframeMatch ? timeframeMatch[1] : null,\n    entry: entryMatch ? parseFloat(entryMatch[1]) : 0\n  };\n};\n\n// ═══════════════════════════════════════════════════════════════════════════\n// PROCESSAR ALERTA\n// ═══════════════════════════════════════════════════════════════════════════\nlet parsedData = {};\nlet asset = '';\nlet marketInfo = null;\n\nswitch (alertType) {\n  case 'ENTRY_LONG':\n  case 'ENTRY_SHORT':\n    parsedData = parseEntryAlert(text);\n    asset = resolveSymbol(parsedData.rawSymbol);\n    marketInfo = getMarketInfo(asset);\n    break;\n\n  case 'TP1_HIT':\n    parsedData = parseTPHitAlert(text, 1);\n    asset = resolveSymbol(parsedData.rawSymbol);\n    marketInfo = getMarketInfo(asset);\n    break;\n\n  case 'TP2_HIT':\n    parsedData = parseTPHitAlert(text, 2);\n    asset = resolveSymbol(parsedData.rawSymbol);\n    marketInfo = getMarketInfo(asset);\n    break;\n\n  case 'FULL_WIN':\n  case 'STOP_LOSS':\n  case 'PARTIAL':\n    parsedData = parseExitAlert(text);\n    asset = resolveSymbol(parsedData.rawSymbol);\n    marketInfo = getMarketInfo(asset);\n    break;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// OUTPUT - Adaptado para Lighter\n// ═══════════════════════════════════════════════════════════════════════════\nconst output = {\n  alertType,\n  requiresAction: ['ENTRY_LONG', 'ENTRY_SHORT', 'TP1_HIT', 'TP2_HIT', 'FULL_WIN', 'STOP_LOSS', 'PARTIAL'].includes(alertType),\n  isNewEntry: ['ENTRY_LONG', 'ENTRY_SHORT'].includes(alertType),\n  isPartialClose: ['TP1_HIT', 'TP2_HIT'].includes(alertType),\n  isFullClose: ['FULL_WIN', 'STOP_LOSS', 'PARTIAL'].includes(alertType),\n  \n  // Porcentagem a fechar\n  closePercent: alertType === 'TP1_HIT' ? 0.333 :\n                alertType === 'TP2_HIT' ? 0.5 :\n                ['FULL_WIN', 'STOP_LOSS', 'PARTIAL'].includes(alertType) ? 1.0 : 0,\n  \n  tradeResult: alertType === 'FULL_WIN' ? 'WIN' :\n               alertType === 'STOP_LOSS' ? 'LOSS' :\n               alertType === 'PARTIAL' ? 'PARTIAL_WIN' : null,\n  \n  data: parsedData,\n  asset,\n  direction: parsedData.direction || null,\n  isLong: parsedData.direction === 'LONG',\n  \n  // Lighter specific\n  marketInfo,\n  marketIndex: marketInfo?.market_index ?? -1,\n  lighterSymbol: marketInfo?.symbol ?? asset + '-USD',\n  \n  // Para entrada na Lighter: is_ask = false para LONG (compra), true para SHORT (venda)\n  isAsk: parsedData.direction === 'SHORT',\n  // Para fechar posição (oposto da entrada)\n  closeIsAsk: parsedData.direction === 'LONG',\n  \n  rawMessage: text,\n  timestamp: new Date().toISOString()\n};\n\nreturn output;"
      },
      "id": "1071cef2-2d68-4fa4-8686-e200e69d16bf",
      "name": "Parse Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "ENTRY_LONG",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ENTRY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "ENTRY_SHORT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ENTRY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "TP1_HIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TP1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "TP2_HIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TP2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "FULL_WIN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FULL_CLOSE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "STOP_LOSS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FULL_CLOSE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "PARTIAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FULL_CLOSE"
            }
          ]
        },
        "options": {}
      },
      "id": "a74d4e71-7b01-444c-9a9f-f7d29df06b37",
      "name": "Route by Alert Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-976, 320]
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "getAccount",
        "queryBy": "index",
        "accountIndex": "={{ $credentials.lighterApi.accountIndex }}"
      },
      "id": "1881f85f-036f-4efa-9c86-7546494b5339",
      "name": "Get Account Info",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [-752, 16],
      "credentials": {
        "lighterApi": {
          "id": "YOUR_LIGHTER_CREDENTIAL_ID",
          "name": "Lighter Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "market",
        "operation": "getOrderBookDetails",
        "marketIndex": "={{ $('Parse Signal').item.json.marketIndex }}",
        "depth": 1
      },
      "id": "973de85a-0463-498c-8f84-bf5861e05549",
      "name": "Get Market Price",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [-528, 16],
      "credentials": {
        "lighterApi": {
          "id": "YOUR_LIGHTER_CREDENTIAL_ID",
          "name": "Lighter Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair preço do orderbook\nconst orderbook = $input.first().json;\nconst parsedSignal = $('Parse Signal').item.json;\n\n// Pegar o melhor bid/ask\nconst bestBid = orderbook.bids?.[0]?.price || 0;\nconst bestAsk = orderbook.asks?.[0]?.price || 0;\nconst midPrice = (parseFloat(bestBid) + parseFloat(bestAsk)) / 2;\n\nreturn {\n  bestBid: parseFloat(bestBid),\n  bestAsk: parseFloat(bestAsk),\n  midPrice,\n  markPrice: midPrice,\n  // Para compatibilidade com o resto do workflow\n  mark: midPrice\n};"
      },
      "id": "extract-price",
      "name": "Extract Price",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-304, 16]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Get Account Info').item.json.positions?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "592f8593-00e2-4819-87d4-1d95919d0325",
      "name": "Has Existing Position?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-80, 16]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// NOTA IMPORTANTE: Este node prepara os dados para a Lighter SDK\n// A Lighter requer assinatura EIP-712 das transações via SDK oficial\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst accountInfo = $('Get Account Info').item.json;\nconst priceData = $('Extract Price').item.json;\nconst parsedSignal = $('Parse Signal').item.json;\n\n// Calcular tamanho da posição\n// collateral * leverage / price = size\nconst availableCollateral = parseFloat(accountInfo.collateral || accountInfo.available_balance || 0);\nconst leverage = 15; // Mesmo do workflow original\nconst usePercent = 0.95; // Usar 95% do disponível\nconst price = priceData.midPrice;\n\nconst positionValue = availableCollateral * usePercent * leverage;\nconst baseAmount = positionValue / price;\n\n// Arredondar conforme decimais do mercado\nconst marketInfo = parsedSignal.marketInfo;\nconst sizeDecimals = marketInfo?.decimals?.size || 4;\nconst roundedSize = Number(baseAmount.toFixed(sizeDecimals));\n\nreturn {\n  // Dados da ordem para Lighter\n  market_index: parsedSignal.marketIndex,\n  is_ask: parsedSignal.isAsk,\n  base_amount: roundedSize,\n  price: 0, // 0 para ordem de mercado\n  order_type: 'market', // ou 'limit'\n  time_in_force: 'ioc', // immediate-or-cancel para market\n  reduce_only: false,\n  \n  // Metadados\n  asset: parsedSignal.asset,\n  direction: parsedSignal.direction,\n  leverage: leverage,\n  availableCollateral: availableCollateral,\n  calculatedSize: roundedSize,\n  entryPrice: price,\n  \n  // NOTA: Para executar esta ordem, você precisará:\n  // 1. Usar a Lighter SDK (Python/Go/TS) para assinar a transação\n  // 2. Ou criar um microserviço que aceita estes parâmetros e executa via SDK\n  _note: 'Esta ordem precisa ser assinada com a Lighter SDK antes de enviar'\n};"
      },
      "id": "prepare-order",
      "name": "Prepare Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/lighter/order",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "market_index",
              "value": "={{ $json.market_index }}"
            },
            {
              "name": "is_ask",
              "value": "={{ $json.is_ask }}"
            },
            {
              "name": "base_amount",
              "value": "={{ $json.base_amount }}"
            },
            {
              "name": "order_type",
              "value": "market"
            },
            {
              "name": "reduce_only",
              "value": "={{ $json.reduce_only }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-order",
      "name": "Send Order (via SDK Backend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [368, 112],
      "notes": "IMPORTANTE: Este node envia para um backend que usa a Lighter SDK.\nVocê precisa criar este microserviço que:\n1. Recebe os parâmetros da ordem\n2. Usa a Lighter SDK para assinar\n3. Envia via sendTx para a Lighter"
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "getAccount",
        "queryBy": "index",
        "accountIndex": "={{ $credentials.lighterApi.accountIndex }}"
      },
      "id": "773ddcc2-014a-4c7a-baef-0f4ea0ee02b3",
      "name": "Get Position After Entry",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [592, 112],
      "credentials": {
        "lighterApi": {
          "id": "YOUR_LIGHTER_CREDENTIAL_ID",
          "name": "Lighter Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "getAccount",
        "queryBy": "index",
        "accountIndex": "={{ $credentials.lighterApi.accountIndex }}"
      },
      "id": "c52bdc6e-82e2-461e-be95-b19d28a0e178",
      "name": "Get Position (TP1)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [368, 304],
      "credentials": {
        "lighterApi": {
          "id": "YOUR_LIGHTER_CREDENTIAL_ID",
          "name": "Lighter Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.positions?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "92084e68-be20-4bd7-8417-d516fb558568",
      "name": "Position Exists? (TP1)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [592, 304]
    },
    {
      "parameters": {
        "jsCode": "// Calcular 1/3 da posição para TP1\nconst accountData = $input.first().json;\nconst parsedSignal = $('Parse Signal').item.json;\nconst marketIndex = parsedSignal.marketIndex;\n\n// Encontrar posição do mercado\nconst position = accountData.positions?.find(p => p.market_index === marketIndex || p.market_id === marketIndex);\n\nif (!position || parseFloat(position.position || position.size) === 0) {\n  return { error: 'No position found', marketIndex };\n}\n\nconst totalAmount = Math.abs(parseFloat(position.position || position.size));\nconst closeAmount = Number((totalAmount * 0.333).toFixed(5)); // 1/3\n\n// Na Lighter, para fechar: se position.sign = 1 (long), is_ask = true para vender\nconst isLong = (position.sign === 1) || position.side === 'long';\nconst closeIsAsk = isLong; // Vender para fechar long\n\nreturn {\n  market_index: marketIndex,\n  is_ask: closeIsAsk,\n  base_amount: closeAmount,\n  reduce_only: true,\n  order_type: 'market',\n  \n  // Metadados\n  asset: parsedSignal.asset,\n  totalAmount,\n  closeAmount,\n  positionSide: isLong ? 'long' : 'short',\n  closePercent: 0.333\n};"
      },
      "id": "7bf2bff5-c581-41d9-b85a-838a818a0dbb",
      "name": "Calculate TP1 Size (1/3)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/lighter/order",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "market_index",
              "value": "={{ $json.market_index }}"
            },
            {
              "name": "is_ask",
              "value": "={{ $json.is_ask }}"
            },
            {
              "name": "base_amount",
              "value": "={{ $json.base_amount }}"
            },
            {
              "name": "order_type",
              "value": "market"
            },
            {
              "name": "reduce_only",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "2774fb84-2e0e-4d24-bdfa-ec1be1b4cc4f",
      "name": "Close 1/3 (TP1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 304]
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "getAccount",
        "queryBy": "index",
        "accountIndex": "={{ $credentials.lighterApi.accountIndex }}"
      },
      "id": "2ced425a-fe2c-46f6-b906-c9397e39b12b",
      "name": "Get Position (TP2)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [368, 496],
      "credentials": {
        "lighterApi": {
          "id": "YOUR_LIGHTER_CREDENTIAL_ID",
          "name": "Lighter Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.positions?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b875140-3356-479b-ba01-82d07870accf",
      "name": "Position Exists? (TP2)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [592, 496]
    },
    {
      "parameters": {
        "jsCode": "// Calcular 50% da posição restante para TP2\nconst accountData = $input.first().json;\nconst parsedSignal = $('Parse Signal').item.json;\nconst marketIndex = parsedSignal.marketIndex;\n\nconst position = accountData.positions?.find(p => p.market_index === marketIndex || p.market_id === marketIndex);\n\nif (!position || parseFloat(position.position || position.size) === 0) {\n  return { error: 'No position found', marketIndex };\n}\n\nconst totalAmount = Math.abs(parseFloat(position.position || position.size));\nconst closeAmount = Number((totalAmount * 0.5).toFixed(5)); // 50% do restante\n\nconst isLong = (position.sign === 1) || position.side === 'long';\nconst closeIsAsk = isLong;\n\nreturn {\n  market_index: marketIndex,\n  is_ask: closeIsAsk,\n  base_amount: closeAmount,\n  reduce_only: true,\n  order_type: 'market',\n  \n  asset: parsedSignal.asset,\n  totalAmount,\n  closeAmount,\n  positionSide: isLong ? 'long' : 'short',\n  closePercent: 0.5\n};"
      },
      "id": "474d12af-c45f-47f0-8063-4ae3c03a965c",
      "name": "Calculate TP2 Size (50%)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, 496]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/lighter/order",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "market_index",
              "value": "={{ $json.market_index }}"
            },
            {
              "name": "is_ask",
              "value": "={{ $json.is_ask }}"
            },
            {
              "name": "base_amount",
              "value": "={{ $json.base_amount }}"
            },
            {
              "name": "order_type",
              "value": "market"
            },
            {
              "name": "reduce_only",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "198c031c-a243-4f00-96a7-9c1efa36a60e",
      "name": "Close 50% (TP2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 496]
    },
    {
      "parameters": {
        "jsCode": "// Preparar fechamento total da posição\nconst parsedSignal = $('Parse Signal').item.json;\n\nreturn {\n  market_index: parsedSignal.marketIndex,\n  close_position: true,\n  asset: parsedSignal.asset,\n  reason: parsedSignal.alertType\n};"
      },
      "id": "prepare-close",
      "name": "Prepare Close Position",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, 688]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/lighter/close-position",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "market_index",
              "value": "={{ $json.market_index }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4284a9e-d1e2-4f6e-8b1b-9856c7995c5a",
      "name": "Close Full Position",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 688],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "phone": "120363421388630566@g.us",
        "body": "={{ $('Trading View').item.json.body }}",
        "additionalOptions": {}
      },
      "id": "4d55ce9f-306c-4380-9218-5feef104dfd2",
      "name": "WhatsApp Alert",
      "type": "n8n-nodes-wuzapi.wuzapiMessage",
      "typeVersion": 1,
      "position": [1488, 400],
      "credentials": {
        "wuzapiApi": {
          "id": "wDYq04bZL7BPWW8F",
          "name": "Wuzapi MX3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "={{ $('Parse Signal').item.json.rawMessage }}",
        "additionalFields": {}
      },
      "id": "586cd573-88ad-4911-a0de-20549b0d1775",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1712, 400],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "vaNtkV4MjHQZYgcu",
          "name": "X account MX3 Dev"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Lighter Trading Workflow\n\n### IMPORTANTE: Backend de Assinatura\n\nA Lighter usa transações assinadas via EIP-712. \nVocê precisa de um microserviço que:\n\n1. **Receba** os parâmetros da ordem (market_index, is_ask, base_amount, etc)\n2. **Assine** a transação usando a Lighter SDK\n3. **Envie** via POST /api/v1/sendTx\n\n### Exemplo de Backend (Python):\n\n```python\nfrom flask import Flask, request, jsonify\nimport lighter\n\napp = Flask(__name__)\n\nclient = lighter.SignerClient(\n    url=\"https://mainnet.zklighter.elliot.ai\",\n    api_private_keys={3: \"YOUR_API_KEY\"},\n    account_index=YOUR_ACCOUNT_INDEX\n)\n\n@app.route('/api/lighter/order', methods=['POST'])\ndef create_order():\n    data = request.json\n    result = client.create_order(\n        market_index=data['market_index'],\n        base_amount=data['base_amount'],\n        is_ask=data['is_ask'],\n        price=0,  # Market order\n        reduce_only=data.get('reduce_only', False)\n    )\n    return jsonify(result)\n```",
        "height": 600,
        "width": 400
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1424, -200]
    }
  ],
  "connections": {
    "Trading View": {
      "main": [
        [
          {
            "node": "Parse Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Signal": {
      "main": [
        [
          {
            "node": "Route by Alert Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Alert Type": {
      "main": [
        [
          {
            "node": "Get Account Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Account Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Position (TP1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Position (TP2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Close Position",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Close Position",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Close Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Info": {
      "main": [
        [
          {
            "node": "Get Market Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Market Price": {
      "main": [
        [
          {
            "node": "Extract Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Price": {
      "main": [
        [
          {
            "node": "Has Existing Position?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Existing Position?": {
      "main": [
        [
          {
            "node": "Prepare Order Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Data": {
      "main": [
        [
          {
            "node": "Send Order (via SDK Backend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order (via SDK Backend)": {
      "main": [
        [
          {
            "node": "Get Position After Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Position After Entry": {
      "main": [
        [
          {
            "node": "WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Position (TP1)": {
      "main": [
        [
          {
            "node": "Position Exists? (TP1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Position Exists? (TP1)": {
      "main": [
        [
          {
            "node": "Calculate TP1 Size (1/3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate TP1 Size (1/3)": {
      "main": [
        [
          {
            "node": "Close 1/3 (TP1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close 1/3 (TP1)": {
      "main": [
        [
          {
            "node": "WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Position (TP2)": {
      "main": [
        [
          {
            "node": "Position Exists? (TP2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Position Exists? (TP2)": {
      "main": [
        [
          {
            "node": "Calculate TP2 Size (50%)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate TP2 Size (50%)": {
      "main": [
        [
          {
            "node": "Close 50% (TP2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close 50% (TP2)": {
      "main": [
        [
          {
            "node": "WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Close Position": {
      "main": [
        [
          {
            "node": "Close Full Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Full Position": {
      "main": [
        [
          {
            "node": "WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Alert": {
      "main": [
        [
          {
            "node": "Post to Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "lighter-trading-workflow"
  }
}
