examples/Lighter - Adaptive Signal Trading System.json
{
  "name": "Lighter - Adaptive Signal Trading System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lighter-signal",
        "options": {
          "rawBody": true
        }
      },
      "id": "d9711a04-52e1-41a2-a4b2-d5782870899d",
      "name": "TradingView Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2416,
        -288
      ],
      "webhookId": "lighter-signal"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// PARSER DE SINAIS - Lighter Adaptive Signal System v2\n// Extrai dados estruturados dos alertas do TradingView\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nconst rawText = input.body || '';\n\n// ═══════════════════════════════════════════════════════════════════════════\n// MAPEAMENTO DE SIMBOLOS PARA MARKET_INDEX DA LIGHTER\n// ═══════════════════════════════════════════════════════════════════════════\nconst marketIndexMap = {\n  'ETH': 0, 'BTC': 1, 'SOL': 2, 'DOGE': 3, '1000PEPE': 4,\n  'WIF': 5, 'WLD': 6, 'XRP': 7, 'LINK': 8, 'AVAX': 9,\n  'NEAR': 10, 'DOT': 11, 'TON': 12, 'TAO': 13, 'POL': 14,\n  'TRUMP': 15, 'SUI': 16, '1000SHIB': 17, '1000BONK': 18, '1000FLOKI': 19,\n  'BERA': 20, 'FARTCOIN': 21, 'AI16Z': 22, 'POPCAT': 23, 'HYPE': 24,\n  'BNB': 25, 'JUP': 26, 'AAVE': 27, 'MKR': 28, 'ENA': 29,\n  'UNI': 30, 'APT': 31, 'SEI': 32, 'KAITO': 33, 'IP': 34,\n  'LTC': 35, 'CRV': 36, 'PENDLE': 37, 'ONDO': 38, 'ADA': 39,\n  'S': 40, 'VIRTUAL': 41, 'SPX': 42, 'TRX': 43, 'SYRUP': 44,\n  'PUMP': 45, 'LDO': 46, 'PENGU': 47, 'PAXG': 48, 'EIGEN': 49,\n  'ARB': 50, 'RESOLV': 51, 'GRASS': 52, 'ZORA': 53,\n};\n\n// ═══════════════════════════════════════════════════════════════════════════\n// DETECTAR TIPO DE ALERTA\n// ═══════════════════════════════════════════════════════════════════════════\nlet alertType = 'UNKNOWN';\nlet direction = '';\n\nif (rawText.includes('🟢 LONG')) {\n  alertType = 'ENTRY_LONG';\n  direction = 'long';\n} else if (rawText.includes('🔴 SHORT')) {\n  alertType = 'ENTRY_SHORT';\n  direction = 'short';\n} else if (rawText.includes('✅ TP1 HIT')) {\n  alertType = 'TP1_HIT';\n  direction = rawText.includes('LONG') ? 'long' : 'short';\n} else if (rawText.includes('✅ TP2 HIT')) {\n  alertType = 'TP2_HIT';\n  direction = rawText.includes('LONG') ? 'long' : 'short';\n} else if (rawText.includes('🎯 FULL WIN')) {\n  alertType = 'FULL_WIN';\n  direction = rawText.includes('LONG') ? 'long' : 'short';\n} else if (rawText.includes('❌ STOP LOSS')) {\n  alertType = 'STOP_LOSS';\n  direction = rawText.includes('LONG') ? 'long' : 'short';\n} else if (rawText.includes('🟡 PARTIAL')) {\n  alertType = 'PARTIAL';\n  direction = rawText.includes('LONG') ? 'long' : 'short';\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// EXTRAIR SIMBOLO E GRADE\n// ═══════════════════════════════════════════════════════════════════════════\nconst gradeMatch = rawText.match(/\\[([ABC])\\]/);\nconst grade = gradeMatch ? gradeMatch[1] : 'C';\n\nlet rawSymbol = '';\nconst exchangeSymbolMatch = rawText.match(/(?:BINANCE|BYBIT|OKX|COINBASE|KRAKEN|MEXC|KUCOIN|GATEIO|HUOBI|BITGET):([A-Z0-9]+)/i);\nif (exchangeSymbolMatch) {\n  rawSymbol = exchangeSymbolMatch[1];\n} else {\n  const simpleMatch = rawText.match(/- ([A-Z0-9]+(?:USDT|USD)(?:\\.P)?)/im);\n  if (simpleMatch) {\n    rawSymbol = simpleMatch[1];\n  }\n}\n\nlet cleanSymbol = rawSymbol\n  .replace(/\\.P$/i, '')\n  .replace(/USDT$/i, '')\n  .replace(/USD$/i, '')\n  .toUpperCase();\n\nconst marketIndex = marketIndexMap[cleanSymbol] !== undefined ? marketIndexMap[cleanSymbol] : -1;\n\n// ═══════════════════════════════════════════════════════════════════════════\n// EXTRAIR SIGNAL ID e TIMEFRAME\n// ═══════════════════════════════════════════════════════════════════════════\nconst idMatch = rawText.match(/ID:\\s*([A-Z0-9\\-]+)/i);\nconst signalId = idMatch ? idMatch[1] : '';\n\nconst tfMatch = rawText.match(/(\\d+[mhHdDwW])/i);\nconst timeframe = tfMatch ? tfMatch[1] : '';\n\n// ═══════════════════════════════════════════════════════════════════════════\n// EXTRAIR PREÇOS\n// ═══════════════════════════════════════════════════════════════════════════\nconst extractPrice = (label) => {\n  const regex = new RegExp(label + '\\\\s*:?\\\\s*([\\\\d.]+)', 'i');\n  const match = rawText.match(regex);\n  return match ? parseFloat(match[1]) : 0;\n};\n\nconst entry = extractPrice('ENTRY') || extractPrice('Entry');\nconst stopLoss = extractPrice('STOP LOSS') || extractPrice('SL');\nconst tp1 = extractPrice('TP1');\nconst tp2 = extractPrice('TP2');\nconst tp3 = extractPrice('TP3');\n\nconst modeMatch = rawText.match(/Mode:\\s*(\\w+)/i);\nconst mode = modeMatch ? modeMatch[1] : 'Unknown';\n\n// ═══════════════════════════════════════════════════════════════════════════\n// CALCULAR SIDE PARA LIGHTER\n// ═══════════════════════════════════════════════════════════════════════════\nlet tradingSide = '';\nif (alertType === 'ENTRY_LONG') {\n  tradingSide = 'buy';\n} else if (alertType === 'ENTRY_SHORT') {\n  tradingSide = 'sell';\n} else if (['TP1_HIT', 'TP2_HIT', 'FULL_WIN', 'STOP_LOSS', 'PARTIAL'].includes(alertType)) {\n  tradingSide = direction === 'long' ? 'sell' : 'buy';\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// RETORNAR DADOS ESTRUTURADOS\n// ═══════════════════════════════════════════════════════════════════════════\nreturn {\n  alertType,\n  signalId,\n  rawSymbol,\n  symbol: cleanSymbol,\n  marketIndex,\n  direction,\n  tradingSide,\n  grade,\n  entry,\n  stopLoss,\n  tp1,\n  tp2,\n  tp3,\n  timeframe,\n  mode,\n  rawMessage: rawText,\n  timestamp: new Date().toISOString(),\n  isValid: marketIndex >= 0 && alertType !== 'UNKNOWN'\n};\n"
      },
      "id": "f36e039b-30d3-45ff-a279-59da36c6174b",
      "name": "Parse Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        -288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7f8c217e-4319-4cca-a24b-7ee7ce1fe803",
      "name": "Valid Signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1968,
        -288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "ENTRY_LONG",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ENTRY_LONG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "ENTRY_SHORT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ENTRY_SHORT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "TP1_HIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TP1_HIT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "TP2_HIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TP2_HIT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "FULL_WIN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FULL_WIN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "STOP_LOSS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "STOP_LOSS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.alertType }}",
                    "rightValue": "PARTIAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PARTIAL"
            }
          ]
        },
        "options": {}
      },
      "id": "6894589a-e052-4ee7-b1dc-c6482c3125d3",
      "name": "Route by Alert Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1744,
        -496
      ]
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "cancelAllOrders",
        "tradingMarketIndex": "={{ $('Parse Signal').item.json.marketIndex }}"
      },
      "id": "cancel-orders-long",
      "name": "Cancel All Orders (Long)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1520,
        -992
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "cancelAllOrders",
        "tradingMarketIndex": "={{ $('Parse Signal').item.json.marketIndex }}"
      },
      "id": "cancel-orders-short",
      "name": "Cancel All Orders (Short)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1520,
        -704
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "closePosition",
        "tradingMarketIndex": "={{ $('Parse Signal').item.json.marketIndex }}",
        "tradingSlippage": 1
      },
      "id": "close-position-long",
      "name": "Close Any Position (Long)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1296,
        -992
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "closePosition",
        "tradingMarketIndex": "={{ $('Parse Signal').item.json.marketIndex }}",
        "tradingSlippage": 1
      },
      "id": "close-position-short",
      "name": "Close Any Position (Short)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1296,
        -704
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "accountIndex": "=701375"
      },
      "id": "get-balance-long",
      "name": "Get Account Balance (Long)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1072,
        -992
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "accountIndex": "=701375"
      },
      "id": "get-balance-short",
      "name": "Get Account Balance (Short)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1072,
        -704
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calcular tamanho da posição com alavancagem 20x\nconst account = $input.first().json;\nconst signal = $('Parse Signal').item.json;\n\n// Buscar saldo disponível\nlet availableBalance = 0;\nif (account.accounts && account.accounts.length > 0) {\n  availableBalance = parseFloat(account.accounts[0].available_balance || 0);\n} else if (account.available_balance) {\n  availableBalance = parseFloat(account.available_balance);\n}\n\n// Configuração de alavancagem\nconst leverage = 20;\n\n// Preço de entrada do sinal\nconst entryPrice = signal.entry || 0;\n\n// Calcular valor nocional (saldo * alavancagem)\nconst notionalValue = availableBalance * leverage;\n\n// Calcular tamanho da posição\nlet positionSize = 0;\nif (entryPrice > 0) {\n  positionSize = notionalValue / entryPrice;\n  // Arredondar para 6 casas decimais\n  positionSize = Math.floor(positionSize * 1000000) / 1000000;\n}\n\nreturn {\n  availableBalance,\n  leverage,\n  entryPrice,\n  notionalValue,\n  positionSize,\n  marketIndex: signal.marketIndex,\n  tradingSide: signal.tradingSide,\n  symbol: signal.symbol,\n  // TP/SL prices from signal\n  tp1: signal.tp1 || 0,\n  tp2: signal.tp2 || 0,\n  tp3: signal.tp3 || 0,\n  stopLoss: signal.stopLoss || 0\n};"
      },
      "id": "calc-size-long",
      "name": "Calculate Size (Long)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -992
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcular tamanho da posição com alavancagem 20x\nconst account = $input.first().json;\nconst signal = $('Parse Signal').item.json;\n\n// Buscar saldo disponível\nlet availableBalance = 0;\nif (account.accounts && account.accounts.length > 0) {\n  availableBalance = parseFloat(account.accounts[0].available_balance || 0);\n} else if (account.available_balance) {\n  availableBalance = parseFloat(account.available_balance);\n}\n\n// Configuração de alavancagem\nconst leverage = 20;\n\n// Preço de entrada do sinal\nconst entryPrice = signal.entry || 0;\n\n// Calcular valor nocional (saldo * alavancagem)\nconst notionalValue = availableBalance * leverage;\n\n// Calcular tamanho da posição\nlet positionSize = 0;\nif (entryPrice > 0) {\n  positionSize = notionalValue / entryPrice;\n  // Arredondar para 6 casas decimais\n  positionSize = Math.floor(positionSize * 1000000) / 1000000;\n}\n\nreturn {\n  availableBalance,\n  leverage,\n  entryPrice,\n  notionalValue,\n  positionSize,\n  marketIndex: signal.marketIndex,\n  tradingSide: signal.tradingSide,\n  symbol: signal.symbol,\n  // TP/SL prices from signal\n  tp1: signal.tp1 || 0,\n  tp2: signal.tp2 || 0,\n  tp3: signal.tp3 || 0,\n  stopLoss: signal.stopLoss || 0\n};"
      },
      "id": "calc-size-short",
      "name": "Calculate Size (Short)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -704
      ]
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "createEntryWithBrackets",
        "tradingMarketIndex": "={{ $json.marketIndex }}",
        "tradingSize": "={{ $json.positionSize }}",
        "tradingSlippage": 0.5,
        "tradingTP1Price": "={{ $json.tp1 }}",
        "tradingTP1Percent": 33,
        "tradingTP2Price": "={{ $json.tp2 }}",
        "tradingTP2Percent": 33,
        "tradingTP3Price": "={{ $json.tp3 }}",
        "tradingTP3Percent": 34,
        "tradingSLPrice": "={{ $json.stopLoss }}"
      },
      "id": "open-long-brackets",
      "name": "Open Long with Brackets",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -624,
        -992
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "createEntryWithBrackets",
        "tradingMarketIndex": "={{ $json.marketIndex }}",
        "tradingSide": "sell",
        "tradingSize": "={{ $json.positionSize }}",
        "tradingSlippage": 0.5,
        "tradingTP1Price": "={{ $json.tp1 }}",
        "tradingTP1Percent": 33,
        "tradingTP2Price": "={{ $json.tp2 }}",
        "tradingTP2Percent": 33,
        "tradingTP3Price": "={{ $json.tp3 }}",
        "tradingTP3Percent": 34,
        "tradingSLPrice": "={{ $json.stopLoss }}"
      },
      "id": "open-short-brackets",
      "name": "Open Short with Brackets",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -624,
        -704
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "position"
      },
      "id": "59270605-b435-42da-8ba0-786ebf00a291",
      "name": "Get Position (TP1)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1520,
        -416
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "position"
      },
      "id": "8952e0cc-9941-4f34-a72b-05e83bde4323",
      "name": "Get Position (TP2)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1520,
        -224
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "closePosition",
        "tradingMarketIndex": "={{ $('Parse Signal').item.json.marketIndex }}"
      },
      "id": "cc0a6a4b-2a01-42fe-8d9f-eba23364c698",
      "name": "Close Position (Full Win)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1520,
        -32
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "closePosition",
        "tradingMarketIndex": "={{ $('Parse Signal').item.json.marketIndex }}"
      },
      "id": "a67a16d3-ed53-4b75-b4c8-56c6997bc94c",
      "name": "Close Position (Stop Loss)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1520,
        160
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "closePosition",
        "tradingMarketIndex": "={{ $('Parse Signal').item.json.marketIndex }}"
      },
      "id": "2887794f-9008-40ad-a756-6fb24241aeb8",
      "name": "Close Position (Partial)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1520,
        352
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calcular 33% (1/3) da posição para TP1\nconst positions = $input.first().json.positions || [];\nconst parsedSignal = $('Parse Signal').item.json;\nconst marketIndex = parsedSignal.marketIndex;\n\n// Encontrar posição do mercado\nconst position = positions.find(p => p.market_index === marketIndex);\n\nif (!position || position.size === 0) {\n  return { error: 'No position found', marketIndex, shouldClose: false };\n}\n\nconst totalSize = Math.abs(position.size);\nconst closeSize = Number((totalSize * 0.333).toFixed(6)); // 1/3\n\nreturn {\n  marketIndex,\n  closeSize,\n  totalSize,\n  closePercent: 33.3,\n  direction: position.side,\n  tradingSide: position.side === 'long' ? 'sell' : 'buy',\n  shouldClose: closeSize > 0\n};"
      },
      "id": "67936c23-04b1-4d48-83ba-a36a0d840c04",
      "name": "Calculate TP1 Size (33%)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        -416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcular 50% da posição restante para TP2\nconst positions = $input.first().json.positions || [];\nconst parsedSignal = $('Parse Signal').item.json;\nconst marketIndex = parsedSignal.marketIndex;\n\nconst position = positions.find(p => p.market_index === marketIndex);\n\nif (!position || position.size === 0) {\n  return { error: 'No position found', marketIndex, shouldClose: false };\n}\n\nconst totalSize = Math.abs(position.size);\nconst closeSize = Number((totalSize * 0.5).toFixed(6)); // 50%\n\nreturn {\n  marketIndex,\n  closeSize,\n  totalSize,\n  closePercent: 50,\n  direction: position.side,\n  tradingSide: position.side === 'long' ? 'sell' : 'buy',\n  shouldClose: closeSize > 0\n};"
      },
      "id": "df4a6479-71e7-4090-a728-0686aa6a5545",
      "name": "Calculate TP2 Size (50%)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldClose }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d73da92-79d0-48f6-af13-2cb690b51662",
      "name": "Should Close TP1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        -416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldClose }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "306f8486-f240-480c-b869-acc5f00e5d1a",
      "name": "Should Close TP2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        -224
      ]
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "createMarketOrder",
        "tradingMarketIndex": "={{ $json.marketIndex }}",
        "tradingSide": "={{ $json.tradingSide }}",
        "tradingSize": "={{ $json.closeSize }}",
        "tradingReduceOnly": true
      },
      "id": "d09d939a-4b0c-40b0-88a1-9672f5a73cc8",
      "name": "Close 33% (TP1)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -848,
        -416
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "trading",
        "operation": "createMarketOrder",
        "tradingMarketIndex": "={{ $json.marketIndex }}",
        "tradingSide": "={{ $json.tradingSide }}",
        "tradingSize": "={{ $json.closeSize }}",
        "tradingReduceOnly": true
      },
      "id": "88631556-4017-48c8-9538-282f86ec8b46",
      "name": "Close 50% (TP2)",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -848,
        -224
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Lighter Adaptive Signal Trading System v2\n\n### Fluxo do Workflow:\n\n1. **Webhook** recebe alertas do TradingView\n2. **Parser** extrai dados estruturados do texto\n3. **Validação** verifica se o sinal é válido\n4. **Router** direciona para o fluxo correto\n5. **Execução** com suporte a FLIP de posição\n\n### Novidades v2 (Flip Support):\n- Cancel All Orders antes de nova entrada\n- Close Position antes de nova entrada\n- Suporta troca de LONG→SHORT ou SHORT→LONG\n- Entry com brackets (TP/SL automáticos)\n\n### Tipos de Alerta:\n- 🟢 ENTRY_LONG → Cancel→Close→Open Long+TP/SL\n- 🔴 ENTRY_SHORT → Cancel→Close→Open Short+TP/SL\n- ✅ TP1_HIT → Fecha 33% (manual fallback)\n- ✅ TP2_HIT → Fecha 50% (manual fallback)\n- 🎯 FULL_WIN → Fecha 100%\n- ❌ STOP_LOSS → Fecha 100%\n- 🟡 PARTIAL → Fecha posição\n\n### Configuração:\n1. Configure as credenciais Lighter\n2. Configure a URL do Trading Backend\n3. Ajuste a alavancagem nos Calculate Size\n4. Configure o webhook no TradingView",
        "height": 700,
        "width": 380
      },
      "id": "c348fdcd-03e8-4f43-b5ca-8658e2c25633",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2880,
        -1050
      ]
    },
    {
      "parameters": {
        "content": "## 📊 Consultas\n\nUse estes nós para consultar informações manualmente ou adicionar a outros workflows.",
        "height": 120,
        "width": 340
      },
      "id": "1257fca6-2ddb-43ba-b261-c51b8d8c00e6",
      "name": "Sticky Note - Queries",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2464,
        352
      ]
    },
    {
      "parameters": {
        "accountIndex": "={{ $credentials.lighterApi.accountIndex }}"
      },
      "id": "4fe8e9ac-b58c-440b-8403-875e8b8891cb",
      "name": "Query: Get Account",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -2464,
        496
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "position"
      },
      "id": "c2ca7015-493a-4803-8959-c57723515c76",
      "name": "Query: Get Positions",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -2240,
        496
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "position",
        "operation": "getOrders"
      },
      "id": "2e7ac98f-3ee6-4d33-9920-7880b60fb59b",
      "name": "Query: Get Active Orders",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -2016,
        496
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "market"
      },
      "id": "b3ee1c84-7a4b-4b64-b714-0e5e87e110c3",
      "name": "Query: Get Markets",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1808,
        496
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "market",
        "operation": "getFundingRates"
      },
      "id": "f95364c2-ad24-441b-b033-ba706bc45211",
      "name": "Query: Funding Rates",
      "type": "n8n-nodes-lighter.lighter",
      "typeVersion": 1,
      "position": [
        -1584,
        496
      ],
      "credentials": {
        "lighterApi": {
          "id": "YECMquMs6TtF97Od",
          "name": "Lighter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "TradingView Webhook": {
      "main": [
        [
          {
            "node": "Parse Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Signal": {
      "main": [
        [
          {
            "node": "Valid Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Signal?": {
      "main": [
        [
          {
            "node": "Route by Alert Type",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route by Alert Type": {
      "main": [
        [
          {
            "node": "Cancel All Orders (Long)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancel All Orders (Short)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Position (TP1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Position (TP2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close Position (Full Win)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close Position (Stop Loss)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close Position (Partial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel All Orders (Long)": {
      "main": [
        [
          {
            "node": "Close Any Position (Long)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel All Orders (Short)": {
      "main": [
        [
          {
            "node": "Close Any Position (Short)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Any Position (Long)": {
      "main": [
        [
          {
            "node": "Get Account Balance (Long)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Any Position (Short)": {
      "main": [
        [
          {
            "node": "Get Account Balance (Short)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Balance (Long)": {
      "main": [
        [
          {
            "node": "Calculate Size (Long)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Balance (Short)": {
      "main": [
        [
          {
            "node": "Calculate Size (Short)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Size (Long)": {
      "main": [
        [
          {
            "node": "Open Long with Brackets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Size (Short)": {
      "main": [
        [
          {
            "node": "Open Short with Brackets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Position (TP1)": {
      "main": [
        [
          {
            "node": "Calculate TP1 Size (33%)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Position (TP2)": {
      "main": [
        [
          {
            "node": "Calculate TP2 Size (50%)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate TP1 Size (33%)": {
      "main": [
        [
          {
            "node": "Should Close TP1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate TP2 Size (50%)": {
      "main": [
        [
          {
            "node": "Should Close TP2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Close TP1?": {
      "main": [
        [
          {
            "node": "Close 33% (TP1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Close TP2?": {
      "main": [
        [
          {
            "node": "Close 50% (TP2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "zjd2xA67PUToONL1"
  },
  "versionId": "67527deb-9a61-481a-8999-6017b7193018",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be2e85c12d6d5bc51db8ebc43985deb72a4b5b24d5cceacf44565f768e2de1fe"
  },
  "id": "WiLmXeZFvBVkKDLQ",
  "tags": [
    {
      "updatedAt": "2026-01-08T14:33:32.405Z",
      "createdAt": "2026-01-08T14:33:32.405Z",
      "id": "QovqKw8DYj5iN7Q7",
      "name": "Lighter"
    },
    {
      "updatedAt": "2026-01-08T14:33:32.413Z",
      "createdAt": "2026-01-08T14:33:32.413Z",
      "id": "bVHC7kCxTZJv31u0",
      "name": "Trading"
    }
  ]
}
